.loading-text {
  margin-top: 50%;
  text-align: center;
}

.button {
  text-align: center;
  background-color: skyblue;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.filter:hover {
  background-color: transparent;
  border: 1px solid skyblue;
}

.reset {
  background-color: orange;
  color: white;
}

.reset:hover {
  background-color: transparent;
  border: 1px solid orange;
  color: black;
}
