.input {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 40px;
}

.input2 {
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 40px;
}

.heading {
  text-align: center;
  color: skyblue;
}

.get {
  width: 30%;
  height: 30px;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
  background-color: skyblue;
  border: none ;
}

.get:hover {
  cursor: pointer;
}